#heading {
    padding-top: 3%;
    font-size: 1.5rem;
}
#outer-container {
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/* styling form to vertically align the input fields */
#form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* styling the heading of the form */
#form span {
    display: block;
    padding: 3%;
    margin-bottom: 10px;
}
/* styling the input fields */
.input {
    margin-bottom:5% ;
    border: 0;
    border-bottom: 1px solid black;
    height: 25px;
}

#show-pass {
    height: 15px;
    margin-right: 10px;
}
#pass-visibility {
    display: flex;
}
/* styling the form button */
#form button {
    background-color: grey;
    color: black;
    width: 60%;
    margin: auto;
    margin-top: 10px;
    background-color: inherit;
    border: 1px solid black;
    
}
/* adding background to the form */
#form-holder {
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

#outer-container input {
    display: inline-block;
}